@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,500;0,700;0,800;1,400;1,500;1,700;1,800&display=swap');

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root{
  --primary: #495E57;
  --secondary: #F4CE14;
  --accent: #EE9972;
  --light: #E5E5E5;
  --dark: #333333;
  --white: #FFFFFF;
  --black: #000000;
}
#root{
  width: 70%;
  margin: 0 auto;
}

a{
  text-decoration: none;
  color: var(--dark);
  font-size: 21px;
  font-family: 'Markazi Text', serif;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

a:hover{
  cursor: pointer;
}
button:hover{
  cursor: pointer;
  box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.35);
  transition: 0.3s ease-in-out;
  background-color: var(--accent) !important;
  color: var(--white);
}
li{
  list-style: none;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  background-color: var(--light);
  border-radius: 0 0 8px 8px;
  position: sticky;
  top: 0;
  box-shadow: 0px 0px 10px 0px var(--dark);
  z-index: 99;
}

/* header nav ul{
  display: flex;
  align-items: center;
  gap: 2rem;
} */

/* @media screen and (max-width: 1140px) {
  #root{
    width: 100%;
  }
  header{
    padding: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  header nav ul{
    width: 100%;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }


 
  
} */

header nav ul{
  display: flex;
  align-items: center;
  gap: 2rem;
}
header button{
  display: none;
}

@media screen and (max-width: 1140px) {
  #root{
    width: 100%;
  }
  header{
    padding: .5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    
  }
  header button{
    display: block;
  }
  .navMenu-hidden{
    display: none;
  }
  .navMenu-show{
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .navMenu-show li{
    width: 100%;
    text-align: center;
    border-bottom: 1px dashed var(--primary);
    margin: 0 auto;
  }
  header nav ul{
    gap: 0rem;
  }
  header nav ul li a{
    width: 100%;
    height: 50px;
    vertical-align: middle;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav-hidden{
    background-color: var(--light);
    width: 100%;
    position: fixed;
    top: 56px;
    left: 0;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transition: display 1s;
  }

 
  
}

main{
  width: 100%;
}
main .hero-section{
  background-color: var(--primary);
  padding: 2rem;
  width: 100%;
  height: 23rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
main section .hero-description{
  flex-basis: 40%;
}
main section .hero-description h1{
  color: var(--secondary);
  font-size: 64px;
  font-family: 'Markazi Text', serif;
  font-weight: 500;
}
main section .hero-description h3{
  margin-top: -1rem;
  color: var(--light);
  font-size: 40px;
  font-family: 'Markazi Text', serif;
  font-weight: 400;
}
main section .hero-description p{
  margin-top: 2rem;
  color: var(--light);
  font-size: 22px;
  font-family: 'Karla', sans-serif;
  font-weight: 500;
  font-style: normal;
}
main section .hero-description button{
  margin-top: 1rem;
  font-family: 200px;
  padding: 1rem;
  font-size: 20px;
  height: 50px;
  font-weight: 600;
  font-family: 'Inter', sans-serif;
  border: none;
  border-radius: 16px;
  
  background-color: var(--secondary);
}
main section .hero-image img{
  width: 375px;
  height: 430px;
  border-radius: 28px;
  object-fit: cover;
}


main .highlights-section{
  margin-top: 8rem;
  padding: 2rem;
}
main .highlights-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .highlights-top h1{
  color: var(--dark);
  font-family: 'Markazi Text', sans-serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
main .highlights-top button{
  font-family: 200px;
  padding: 1rem;
  font-size: 20px;
  width: 220px;
  height: 50px;
  font-weight: 600;
  font-family: 'Inter', sans-serif;
  border: none;
  border-radius: 16px;
  background-color: var(--secondary);
}
main .highlights-cards{
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
}
main .card{
  border-radius: 16px;
  background-color: var(--light);
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 3px 8px 6px rgb(0, 0, 0, 0.2);
}
main .card:hover{
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.35);
  transition: box-shadow 0.20s ease-in;
}
main .card .card-title{
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
main .card .card-title h1{
  float: left;
  font-family: 'Karla', sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
}
main .card .card-title h2{
  color: var(--accent);
  float: right;
  font-family: 'Karla', sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
}
main .card .card-description{
  margin-top: 1rem;
  padding: 2rem;
  color: var(--primary);
  font-family: 'Karla', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}
main .card .card-order{
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}
main .card .card-order a{
  display: flex;
  align-items: flex-start;
  text-align: start;
  font-family: 'Markazi text', serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
}
main .card img{
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px 8px 0px 0px;
}

@media screen and (min-width:1330px){
  main .card{
    flex-basis: 30%;
  }
}

@media screen and (max-width:1330px){
  main .highlights-cards{
    margin-top: 4rem;
    flex-wrap: wrap;
    gap: 2rem;
  }
  main .card{
    flex-basis: 40%;
  }
}

@media screen and (max-width:1140px) {
  main .highlights-cards{
    margin-top: 4rem;
    flex-wrap: wrap;
    gap: 2rem;
  }
  main .card{
    flex-basis: 30%;
  }
}

@media screen and (max-width:1024px){
  main .hero-section{
    height: 22rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  main section .hero-description{
    flex-basis: 50%;
  }
  main section .hero-description p{
    margin-top: 1rem;
  }
  main section .hero-image img{
    flex-basis: 30%;
    width: 300px;
    height: 350px;
  }

  main .highlights-section{
    margin-top: 3rem;
  }
  main .highlights-cards{
    margin-top: 4rem;
    flex-wrap: wrap;
    gap: 2rem;
  }
  main .card{
    flex-basis: 40%;
  }
}

@media screen and (max-width:768px){
  main .hero-section{
    padding: 2rem;
    width: 100%;
    height: auto !important;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  main section .hero-image img{
    display: none;
  }
  main section .hero-description{
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
  }
  main section .hero-description button{
    align-self: center;
  }

  main .highlights-section{
    margin-top: 2rem;
    padding: 2rem;
  }
  main .highlights-top{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }
  main .highlights-top h1{
    font-size: 50px;
    margin: 0 auto;
  }
  main .highlights-top button{
    margin: 0 auto;
  }
  main .highlights-cards{
    margin-top: 4rem;
    gap: 2rem;
    justify-content: center;
  }
  main .card{
    flex-basis: 60%;
  }
}
@media screen and (max-width:510px){
  main .card{
    flex-basis: 85%;
  }
}


.testimonials-section{
  width: 100%;
  margin-top: 3rem;
  padding: 2rem;
  background-color: var(--light);
}
.testimonials-section>h1{
  text-align: center;
  color: var(--dark);
  font-family: 'Markazi Text', sans-serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.testimonials-section .testimonials {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  flex-wrap: wrap;
}
.testimonials-section .testimonials .testimonial{
  background-color: var(--white);
  flex-basis: 250px;
  padding: 1.3rem;
  display: flex;
  flex-direction: column;
  align-items: space-around;
  gap: 1rem;
  border-radius: 16px;
  box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.35);
}
.testimonials-section .testimonials .testimonial:hover{
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.35);
  transition: box-shadow 0.4s ease-in-out;
}
.testimonials-section .testimonials .testimonial>h1{
  font-size: 1.9rem;
  font-family: 'Karla', serif;
  font-style: normal;
  font-weight: 700;
}
.testimonials-section .testimonials .testimonial .inline{
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.testimonials-section .testimonials .testimonial .inline img{
  max-width: 40%;
}
.testimonials-section .testimonials .testimonial .inline h2{
  font-size: 1.4rem;
  font-family: 'Karla', serif;
  font-style: normal;
  font-weight: 500;
}
.testimonials-section .testimonials .testimonial p{
  font-size: 1.2rem;
  font-family: 'Karla', serif;
  font-style: normal;
  font-weight: 400;
}




.about-section{
  margin-top: 3rem;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about-section .about-text{
  flex-basis: 45%;
}
.about-section .about-text h1{
  font-size: 3.4rem;
  font-family: 'Markazi Text', sans-serif;
  font-style: normal;
  font-weight: 500;
}
.about-section .about-text>h2{
  margin-top: -0.7rem;
  font-size: 2.3rem;
  font-family: 'Markazi Text', sans-serif;
  font-style: normal;
  font-weight: 400;
}
.about-section .about-text>p{
  margin-top: 2rem;
  font-size: 1.5rem;
  font-family: 'Karla', serif;
  font-style: normal;
  font-weight: 400;
}
.about-section .about-imgs{
  height: 40vh;
  flex-basis: 50%;
  position: relative;
}
/* .about-section img{
  max-width: 80%;
} */
.about-section .about-imgs img:nth-child(1){
  position: absolute !important; 
  top: 0;
  left: 0;
  z-index: 1;
  width: 300px !important;
  height: 350px !important;
  object-fit: cover;
  box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.35);
  border-radius: 8px;
}
.about-section .about-imgs img:nth-child(2){
  position: absolute !important;/* Position the first image absolutely within the container */
  top: 100px;
  right: 0;
  z-index: 2;
  width: 300px !important;
  height: 350px !important;
  object-fit: cover;
  box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.35);
  border-radius: 8px;
}
@media screen and (max-width:1024px) {
  .about-section{
    display: flex !important;
    flex-direction: column-reverse;
    align-items: stretch;
    justify-content: center;
  }
  .about-section .about-text{
    flex-basis: 100%;
    margin-top: 1rem;
  }
  .about-section .about-imgs{
    height: auto;
    flex-basis: 100%;
  }
  .about-section .about-imgs{
    position: static;
  }
  .about-section .about-imgs img:nth-child(1){
    display: none !important;
  }
  .about-section .about-imgs img:nth-child(2){
    display: block;
    position: relative !important;
    width: 100% !important;
    top: 0;
  }
  footer{
    margin-top: 0px !important;
  }
}


footer{
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: var(--light);
  padding: 2rem;
  border-radius: 8px 8px 0 0;
  margin-top: 6rem;
}

@media screen and (max-width: 1140px) {
  footer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
  }
  footer img{
    width: 22%;
  }
  footer nav{
    width: 20%;
  }
}
@media screen and (max-width: 600px) {
  footer{
    display: flex;
    justify-content: space-between;
  }
  footer img{
    width: 30%;
  }
  footer nav{
    flex-basis: 45%;
  }
}
footer h3{
  color: var(--primary);
}
header a{
  position: relative;
  overflow: hidden;
}
header a::after, footer a::after{
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent);
  transform: scale(0);
  transform-origin: left;
  transition: transform 0.7s ease;
  border-radius: 8px;
}
header a:hover::after, footer a:hover::after{
  transform: scale(1);
}
header a:hover, .card a:hover, footer a:hover{
  color: var(--accent);
  transition: color 0.7s ease;
}




/*----------------------------------------------------------------*/
.reservation{
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--light);
  padding: 0;
  border-radius: 16px;
  width: 80%;
    margin: 0 auto;
}
.reservation img{
  height: 433px!important;
  object-fit: cover;
  box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.35);
  border-radius: 16px 0px 0px 16px;
  width: 50%;
  box-shadow: none;
}
form{
  display: grid; 
  max-width: 300px; 
  gap: 20px;
  padding: .8rem;
  border-radius: 1rem;
  margin: 0 auto;
}
@media screen and (max-width:768px) {
  .reservation{
    max-width: 300px !important;
    margin: 0 auto;
  }
  .reservation img{
    display: none !important;
  }
  form{
    max-width: 300px !important;
    margin: 0 auto;
  }
}
form label{
  color: var(--primary);
  font-size: 23px;
  font-family: 'Markazi Text', serif;
  font-weight: 500;
}
input[type="date"], input[type="number"], select{
  margin-top: -1rem !important;
  font-size: 15px;
  border-radius: .4rem;
  padding: .2rem;
  border: none;
}
input[type="date"]:hover, input[type="number"]:hover, select:hover{
  cursor: pointer;
}
input[type="submit"]{
  padding: .6rem;
  border-radius: 16px;
  background-color: var(--primary);
  border: none;
  font-weight: bold;
  font-size: 15px;
  border: 1px solid black;
  margin-top: 1rem;
}
input[type="submit"]:hover{
  background-color: var(--accent);
  cursor: pointer;
  transition: background-color 0.7s ease;
  border: 1px dashed black;
}